@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');


@keyframes gameOver {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
       box-shadow: red;
       opacity: 1;
    }
    10%,
    30%,
    50%,
    70%,
    90% {
       box-shadow: 0 0 20px rgb(255, 18, 18);
       opacity: 0;
    }
 }




body{
    /* display: flex; */
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(108,109,112);
    background: radial-gradient(circle, rgba(108,109,112,1) 0%, rgba(8,7,8,1) 100%);
    /* background-color: rgb(97, 95, 95); */
}

.piano{
    /* border: solid 4px white; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.Teclado{
    display: flex;
    justify-content: center;
    /* border: solid 2px black; */
}
.case{
    /* border: white 3px solid; */
    height: 300px;
    width: 1200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5%;
}

.nota{
    height: 80px;
    width: 80px;
    /* border: white 3px solid; */
    margin-right: 20px;
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: #1c1c1d;
}

.texto{
    font-size: small;
    text-align: center;
}

.A{
    display: flex;
    z-index: 1;
    /* border: solid 2px black; */
}

.B{
    display: flex;
    z-index: 1; 
    /* border: solid 2px black; */
}

.bloque1{
    display: flex;
    align-items: top;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    margin-left: 20px;
}

.bloque2{
    display: flex;
    align-items: top;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    margin-left: 20px;
}

.teclas-menores{
    border: solid 1px black;
    border-radius: 5px;
    width: 40px;
    height: 120px;
    background-image: url('assets/negro.png');
    margin: 0px 0px 0px 10px;
}

.tecla{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: solid 1px black;
    border-radius: 10px;
    width: 50px;
    height: 250px;
    transition: all 0.1s ease;
    background-image: url('assets/white.png');
}

.options_padre{
    display: flex;
    justify-content: center;
}

.options{
    height: 200px;
    width: 90%;
    /* border: white solid 3px; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #1c1c1d;
    padding: 10px;
}

.options > div {
    background-color: rgba(71, 69, 69, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: white;
  }

  .space{
      height: 50px;
      width: 100%;
  }


.tocar{

    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

span{
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px;
    color: tomato;
    
}

.tapa{
    position: absolute;
    top: 	37%;
    /* bottom: 50%; */
    width: 87%;
    height: 50px;
    background-color: black;
    border-radius: 2px;
}


.tapa p{
    margin-top: 3px;
    font-family: 'Lobster', cursive;
    font-size: 16px;
    letter-spacing: 3px;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
    
}

.teclasMayores{
    border: solid 2px black;
    display: flex;
    /* flex: 1;
    min-height: 100vh; */
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 750px;
    
}


.teclasMenores{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 41%;
    left: 10%;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    
}

.bloque3{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    left: 18%;
}

.bloque4{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    left: 23%;
}


#melody1:hover{

    transform: scale(1.0);
    border-color: #00e1ff;
    box-shadow: 0 0 1rem #0066ff;
    
}

#melody2:hover{

    transform: scale(1.0);
    border-color: #00ff9d;
    box-shadow: 0 0 1rem #00ff15;
    
}

#melody3:hover{

    transform: scale(1.0);
    border-color: #00e1ff;
    box-shadow: 0 0 1rem #fbff00;
    
}

#melody4:hover{

    transform: scale(1.0);
    border-color: #00e1ff;
    box-shadow: 0 0 1rem #ff0000;
    
}

#melody5:hover{

    transform: scale(1.0);
    border-color: #00e1ff;
    box-shadow: 0 0 1rem #cc00ff;
    
}

#melody6:hover{

    transform: scale(1.0);
    border-color: #00e1ff;
    box-shadow: 0 0 1rem #e3e4e6;
    animation: radialmove 5s infinite;
   
}

.alterno{
    height: 200px;
    width: 90%;
    /* border: white solid 3px; */
    display: flex;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #1c1c1d;
    padding: 10px;
    z-index: -1;
}

.botn1play{
    transform: scale(1.0);
    border-color: #00e1ff;
    box-shadow: 0 0 1rem #0066ff;
}

.botn2play{
    transform: scale(1.0);
    border-color: #00ff9d;
    box-shadow: 0 0 1rem #00ff15;
}

.botn3play{
    transform: scale(1.0);
    border-color: #00e1ff;
    box-shadow: 0 0 1rem #fbff00;
}

.botn4play{
    transform: scale(1.0);
    border-color: #00e1ff;
    box-shadow: 0 0 1rem #ff0000;
}

.botn5play{

    transform: scale(1.0);
    border-color: #00e1ff;
    box-shadow: 0 0 1rem #cc00ff;
}

.botn6play{
    transform: scale(1.0);
    border-color: #00e1ff;
    box-shadow: 0 0 1rem #e3e4e6;
    animation: radialmove 5s infinite;
}

.gameOver{
    background-color: red;
    transform: scale(1.0);
    border-color: #ff0000;
    box-shadow: 0 0 1rem #ff0000;
    animation: gameOver 1.5s infinite;
}

.gameWin{
    background-color: rgb(221, 221, 221);
    transform: scale(1.0);
    border-color: #00d369;
    box-shadow: 0 0 1rem #fcfcfc;
    animation: gameWin 1.5s infinite; 

}